/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #171836;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
}


/* CONTAINER */

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: auto;
    margin-right: auto;
}


/* Header */

.site-header {
    margin-top: 32px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.site-nav-list {
    display: flex;
    align-items: center;
    margin-left: 148px;
}

.site-nav-item {
    list-style: none;
    margin-left: 44px;
}

.site-nav-link {
    color: #FFFFFF99;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.site-nav-link:hover {
    color: #fff;
}

.login,
.lang {
    display: flex;
    align-items: center;
}

.lang p {
    margin-right: 4px;
    color: #fff;
    cursor: pointer;
}

.global-link {
    margin-left: 31px;
    text-decoration: none;
    color: #fff;
    padding: 12px 32px;
    background-color: #F5443B;
    border-radius: 6px;
    transition: 0.3s ease;
}

.global-link:hover {
    color: #F5443B;
    background-color: #fff;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
}

.landing-section {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images {
    width: 50%;
    position: relative;
}

.book {
    position: absolute;
    left: 576.08px;
    top: 50px;
    padding: 8px 10px;
    border-radius: 20px;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    transform: rotate(20deg);
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
}

.lamp {
    position: absolute;
    left: 92.63px;
    top: 182px;
    padding: 8px 10px;
    border-radius: 20px;
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    transform: rotate(-20deg);
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
}

.students {
    width: 363px;
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    top: 600px;
    left: 300px;
    border-radius: 20px;
    padding: 0 20px;
    background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
}

.student-images-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.student-images {
    margin-right: -10px;
    list-style: none;
}

.student-images:last-child {
    margin-right: 0;
}

.description {
    margin-left: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22.4px;
}

.students-description {
    color: #F5443B;
}

.landing-text {
    width: 50%;
}

.main-title {
    font-size: 56px;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: -0.01em;
}

.landing-section-text {
    margin-top: 24px;
    margin-bottom: 56px;
    color: #FFFFFF99;
}

.input {
    background: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: right;
    height: 68px;
    width: 506px;
    border: none;
    padding: 22px 12px 22px 32px;
    background-color: #1F2143;
    border-radius: 12px;
    color: #fff;
}

.suggstions {
    margin-top: 48px;
    margin-bottom: 42px;
    color: #FFFFFF66;
}

.suggest-list {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.suggest-item {
    list-style: none;
    margin-left: 20px;
    border: 2px solid #FFFFFF66;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 16px;
    line-height: 21px;
    font-size: 14px;
}

.features {
    margin-top: 100px;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featues-item {
    list-style: none;
    margin-left: 97px;
}

.featues-item:first-child {
    margin-left: 0;
}

.g1::before {
    content: url('../images/heroicons-solid_user-group.svg');
    margin-left: -25px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #FF7D7D 0%, #2C2E59 100%);
    border-radius: 50%;
}

.g2::before {
    content: url('../images/teacher-at-the-blackboard\ 1.svg');
    margin-left: -25px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #4DB88D 0%, #2C2E59 100%);
    border-radius: 50%;
}

.g3::before {
    content: url('../images/bx_bxs-book-heart.svg');
    margin-left: -25px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #B8A74D 0%, #2C2E59 100%);
    border-radius: 50%;
}

.features-title {
    font-size: 20px;
    color: #FFFFFFB2;
}

.features-description {
    color: #FFFFFF99;
}